








 .hambuger-btn{
  display:none;
 }



.cart-number{
  position: absolute;
    top: -22px;
    left: 26px;
    background: var(--Pry-Color, #97BF38);
    border-radius: 50%;
    width: 15px;
    text-align: center;
    color:'#fff'
}



 .nav2{
    display:block;
  }
   .nav3{
    display:block;
  }


@media(max-width:1000px){
  .nav2{
    display:none;
  }
     .nav3{
    display:none;
  }
.hambuger-btn{
display: block;
}
}

@media(min-width:1000px){


}

