.section-three {
  margin-top: 50px;
  position: relative; /* Add this */
  margin: 3%;
}

.woman1,
.woman2 {
  width: 100%;
  display: none; /* Initially hide both images */
}

.woman1 {
  display: block; /* Show the image based on media query */
}

.dark-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(69, 59, 59, 0.5);
  z-index: 1;
}


@media (max-width: 800px) {
  .woman1 {
    display: none;
  }
  .woman2 {
    display: block;
  }
  .overlay-test {
    position: absolute;
    color: white;
    z-index: 2;
    top: 2px;
    left: 20px;
  }
  .overlay-test p{
 
font-family: Poppins;
font-size: 15px;
font-weight: 400;
line-height: 30px;
text-align: justified;

}
.overlay-test h5{

font-family: Poppins;
font-size:15.83px;
font-weight: 700;
line-height: 73.25px;
text-align: left;
color: var(--White, #FBFBFC);

}

}

@media (min-width: 800px) {
  .woman2 {
    display: none;
  }
  .woman1 {
    display: block;
  }
  .overlay-test {
    position: absolute;
    color: white;
    z-index: 2;
    top: 2px;
    left: 20px;
  }
  .overlay-test p{
 
font-family: Poppins;
font-size: 15px;
font-weight: 400;
line-height: 30px;
text-align: justified;

}
.overlay-test h5{

font-family: Poppins;
font-size:15.83px;
font-weight: 700;
line-height: 73.25px;
text-align: left;
color: var(--White, #FBFBFC);

}
}
