/* SectionTwo.css */

.centered {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.mainCardContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  grid-gap: 0.1rem;
  justify-content: center;
  align-self: center;
  margin:3%;
}

.cardDiv {
  align-items: center;
  padding: 3px 10px;
  position: relative;
}

.heartIconContainer {
  position: absolute;
  top: 10px;
  right: 17px;
}

.cardImg {
  width: 100%;
}

.amount-tag {
  font-family: Poppins;
  font-size: 10.24px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: var(--Grey-100, #040506);
  margin-top: -15px;
}

.dicount-tag {
  font-family: Poppins;
  font-size: 10.24px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: var(--Grey-20, #B1B2B4);
}

.name-tag {
  font-family: Poppins;
  font-size: 12.8px;
  font-weight: 500;
  line-height: 19.2px;
  text-align: left;
  margin-top: 2px;
}

.discount-stroke {
  text-decoration: line-through;
}

.css-wjh20t-MuiPagination-ul {
  justify-content: center;
}

.paginationContainer {
  display: flex !important;
  justify-content: center !important;
  margin-top: 20px !important;
}

/* Style the pagination buttons */
.MuiPaginationItem-root {
  color: #251F73; /* Default color */
}

/* Change the color when hovered */
.MuiPaginationItem-root:hover {
  background-color: #EB0B18; /* Background color on hover */
  color: white; /* Text color on hover */
}

/* Style for selected page number */
.Mui-selected {
  background-color: #251F73 !important; /* Background color of selected item */
  color: white !important; /* Text color of selected item */
}

.ontop11 {
  font-family: Poppins;
  font-size: 31.25px;
  font-weight: 700;
  line-height: 46.88px;
  text-align: left;
  color: #000000;
}

.ontop12 {
  color: #3D3E43;
  font-family: Poppins;
  font-size: 25px;
  font-weight: 400;
  line-height: 37.5px;
  text-align: left;
}

.ontop2 {
  display: flex;
  justify-content: space-around;
  flex-basis: 40%;
  align-items: center;
  background: var(--White-color, #FCFBFC);
}

.ontop21 {
  background: var(--Primary-color, #251F73);
  padding: 8px 9px;
  border-radius: 10px;
}

.white-check {
  background: white;
  border-radius: 50%;
  padding: 3px;
  color: black;
}

.ontop22 {
  background: white;
  padding: 4px 15px;
  border: 0.5px solid var(--Stroke-Color, #9F81B1);
  border-radius: 9px;
}

@media (min-width: 355px) {
  .mainCardContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    grid-gap: 0.4rem;
    justify-content: center;
    align-self: center;
  }
}

@media (min-width: 450px) {
  .mainCardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    grid-gap: 0.4rem;
    justify-content: center;
    align-self: center;
  }
}

@media (min-width: 550px) {
  .mainCardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    grid-gap: 0.4rem;
    justify-content: center;
    align-self: center;
  }
}

@media (min-width: 590px) {
  .mainCardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    grid-gap: 0.4rem;
    justify-content: center;
    align-self: center;
  }
}

@media (min-width: 730px) {
  .mainCardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    grid-gap: 0.4rem;
    justify-content: center;
    align-self: center;
  }
}

@media (min-width: 850px) {
  .mainCardContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    grid-gap: 0.4rem;
    justify-content: center;
    align-self: center;
  }
}

@media (min-width: 995px) {
  .mainCardContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    grid-gap: 0.2rem;
    justify-content: center;
    align-self: center;
  }
}

@media (min-width: 1110px) {
  .mainCardContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    grid-gap: 0.4rem;
    justify-content: center;
    align-self: center;
  }
}

@media (max-width: 750px) {
  .ontop1 {
    display: none;
  }
  
  .ontop2 {
    flex-basis: 100%;
  }
}
