.section-three {
  margin-top: 50px;
  position: relative; /* Add this */
  margin: 3%;
}

.woman1,
.woman2 {
  width: 100%;
  display: none; /* Initially hide both images */
}

.woman1 {
  display: block; /* Show the image based on media query */
}

.dark-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(69, 59, 59, 0.5);
  z-index: 1;
}

.overlay-text {
  position: absolute;
  color: white;
  z-index: 2;
  top: 82px;
  left: 30px;
}

@media (max-width: 500px) {
  .woman1 {
    display: none;
  }
  .woman2 {
    display: block;
  }
}

@media (min-width: 501px) {
  .woman2 {
    display: none;
  }
  .woman1 {
    display: block;
  }
}
