.image {
  height: 450px;
  object-fit: cover;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

@media (min-width: 500px) {
  .overlay-text {
    position: absolute;
    color: white;
    z-index: 2;
    top: 82px;
    left: 30px;
  }
}
.limited {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.collection {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 700;
  line-height: 90px;
  text-align: left;
}

.discover {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}

.styledButton {
  font-family: "Poppins", sans-serif;

  text-align: center;
  background-color: #251f73; /* Primary color */

  border-radius: 5px 0 0 0; /* Border radius */
  color: white; /* Text color */
  padding: 10px;
}

.styledButton:hover {
  background-color: #1e1763; /* Darker background color on hover */
}

.img1-btn {
  text-align: left;
}

@media (max-width: 500px) {
  .overlay-text {
    position: absolute;
    color: white;
    z-index: 2;
    top: 82px;
    left: 30px;
    text-align: center;
  }
  .limited {
    text-align: center;
  }

  .collection {
    text-align: center;
  }

  .discover {
    text-align: center;
  }

  .img1-btn {
    text-align: center;
  }
}
