
.product-details{
  display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 50px;
    width: 100%;
}

.pt-details{
      background: rgb(235, 243, 254);
    text-align: center;
    width: 100%;
    padding: 40% 10%;
}
.product1 p{
font-family: Poppins;
font-size: 31.25px;
font-weight: 500;
line-height: 46.9px;
text-align: left;

}
.product1{
  flex-basis:40%;
}
.product2{
  flex-basis: 40%;
}


@media(max-width:700px){
  .product-details{
  display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 50px;
}

}